@page "/"
@using System.Collections.Generic

<h3>ToDo List</h3>

<input @bind="newTodo" placeholder="Enter new todo" />
<button @onclick="AddTodo">Add</button>

<ul>
    @foreach (var todo in todos)
    {
        <li>
            <input type="checkbox" @bind="todo.IsDone" />
            @todo.Title
            <button @onclick="() => RemoveTodo(todo)">Remove</button>
        </li>
    }
</ul>

@code {
    private string newTodo;
    private List<TodoItem> todos = new List<TodoItem>();

    private void AddTodo()
    {
        if (!string.IsNullOrWhiteSpace(newTodo))
        {
            todos.Add(new TodoItem { Title = newTodo });
            newTodo = string.Empty;
        }
    }

    private void RemoveTodo(TodoItem todo)
    {
        todos.Remove(todo);
    }

    private class TodoItem
    {
        public string Title { get; set; }
        public bool IsDone { get; set; }
    }
}